/* ===========================
   NAVIGATION LOGO IMAGE
=========================== */

.logo img{
    width:180px;
    height:auto;
    display:block;
}

.logo{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.logo p{
    color:white;
    font-size:15px;
    margin-top:5px;
}


/* ===========================
   NAVIGATION FIX
=========================== */

.navbar{
    background:#6D6D6D;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
    position:sticky;
    top:0;
    z-index:1000;
}


.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
}


.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:.3s;
}


.nav-links a:hover{
    color:#222222;
}
