/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    color: #222;
}

/* NAVIGATION */
.navbar {
    background: #111111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    position: sticky;
    top: 0;
}

.logo {
    font-family: 'Playfair Display', serif;
    color: #D4AF37;
    font-size: 28px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #D4AF37;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)),
                url("../images/hero-banner.jpg");
    background-size: cover;
    background-position: center;
}

.hero-content {
    color: white;
    max-width: 700px;
    padding: 20px;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 16px 40px;
    background: #D4AF37;
    color: black;
    text-decoration: none;
    border-radius: 40px;
    font-weight: bold;
    transition: .3s;
}

.btn:hover {
    background: white;
}
